@media screen and (min-width: 768px) {
  .input {
    border: 2px grey;
    border-radius: 5px;
    width: 80%;
    height: 45px;
    font-family: 'Roboto';
    font-size: 16px;
    background-color: white;
  }

  .savedBtn {
    background-color: lightblue;
    color: black;
    height: 45px;
    width: 145px;
    border-radius: 8px;
    border: 2px grey;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Roboto';
  }
}

@media screen and (max-width: 767px) {
  .input {
    border: 2px grey;
    border-radius: 5px;
    width: 60%;
    height: 35px;
    font-family: 'Roboto';
    font-size: 14px;
    background-color: white;
  }

  .savedBtn {
    background-color: lightblue;
    color: black;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 2px grey;
    font-size: 12px;
    font-weight: 100;
    font-family: 'Roboto';
  }
}
